@value_fontsize: 20px;
@val_of_width: 70%;
@valOfHeight: 15%;
@rel: relative;

.table_area {
  .table_class {
    font-size: @value_fontsize;
    width: @val_of_width;
    left: @valOfHeight;
    position: @rel;
  }

  table {
    border-collapse: collapse;
  }

  table,
  th,
  td {
    border: 1px solid black;
  }

  li {
    list-style: none;
    text-decoration: underline;
    cursor: pointer;
  }
}
