<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.computer.subscribe.mapper.JointQueryMapper">
	<!-- 预约申单与用户列表是多对一的关系 -->
	<!-- 查询映射 -->
	<resultMap id="subscribesMap" type="TSubscribe">
		<id column="id" property="id"></id>
		<result column="applicant" property="applicant"></result>
		<result column="reviewer" property="reviewer"></result>
		<result column="subscribe_status" property="subscribeStatus"></result>
		<result column="room_num" property="roomNum"></result>
		<result column="application_start_time"
			property="applicationStartTime"></result>
		<result column="use_interval" property="useInterval"></result>
		<result column="handle_time" property="handleTime"></result>
		<result column="apply_use_date" property="applyUseDate"></result>
		<!-- 一对一或多对一,association属性含义自行搜索 -->
		<association property="u" column="id" javaType="TUser"
			select="com.computer.subscribe.mapper.JointQueryMapper.getAllUsers">
		</association>
	</resultMap>

	<resultMap id="usersMap" type="TUser">
		<id column="id" property="id"></id>
		<result column="user_num" property="userNum"></result>
		<result column="user_name" property="userName"></result>
		<result column="phone" property="phone"></result>
		<result column="mailbox" property="mailbox"></result>
		<result column="password" property="password"></result>
		<result column="role" property="role"></result>
		<result column="salt" property="salt"></result>
	</resultMap>

	<sql id="User_Base_Column_List">
		id, user_num, user_name, phone, mailbox, role, password,
		salt
	</sql>

	<sql id="Subscribe_Base_Column_List">
		id,
		applicant,
		reviewer,
		subscribe_status,
		room_num,
		application_start_time,
		use_interval,
		handle_time,
		apply_use_date
	</sql>

	<select id="getAllUsers" resultMap="usersMap">
		SELECT
		<include refid="User_Base_Column_List" />
		FROM
		t_user
	</select>

	<!-- 左连分页查询,一间机房本周内,所收到的预约申请列表集合, -->
	<!-- 含(申单ID+审核状态+审核教师工号+申请使用日+申请使用时段+机房号)+(申请者姓名+申请者邮箱+申请者学号) -->
	<select id="retrieveSubscribesList" resultMap="subscribesMap">
		SELECT
		s.applicant,
		s.reviewer,
		s.subscribe_status,
		s.room_num,
		s.application_start_time,
		s.use_interval,
		s.apply_use_date,
		s.room_num,

		u.user_num,
		u.user_name,
		u.mailbox

		FROM t_subscribe s

		LEFT JOIN t_user AS
		u

		ON s.applicant=u.user_num
		WHERE s.room_num=#{roomOrder}

		AND
		s.application_start_time &gt;= #{beginTime}
		AND
		s.application_start_time &lt;= #{endTime}

		ORDER BY
		s.application_start_time
		ASC limit #{offset},#{limit}
	</select>
</mapper>