<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.computer.subscribe.mapper.TComputerRoomMapper">
	<resultMap id="BaseResultMap"
		type="com.computer.subscribe.pojo.TComputerRoom">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="room_num" jdbcType="INTEGER" property="roomNum" />
		<result column="total_sets" jdbcType="INTEGER"
			property="totalSets" />
		<result column="available_status" jdbcType="INTEGER"
			property="availableStatus" />
		<result column="admin_num_operated" jdbcType="BIGINT"
			property="adminNumOperated" />
		<result column="operated_time" jdbcType="TIMESTAMP"
			property="operatedTime" />
		<result column="location" jdbcType="VARCHAR"
			property="location" />
		<result column="act_available_quantity" jdbcType="INTEGER"
			property="actAvailableQuantity" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value"
										item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Sat Apr 17 
			17:50:00 CST 2021. -->
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value"
										item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Sat Apr 17 
			17:50:00 CST 2021. -->
		id, room_num, total_sets, available_status, admin_num_operated,
		operated_time, location,
		act_available_quantity
	</sql>
	<select id="selectByExample"
		parameterType="com.computer.subscribe.pojo.TComputerRoomExample"
		resultMap="BaseResultMap">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Sat Apr 17 
			17:50:00 CST 2021. -->
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from t_computer_room
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
		<!-- 为分页而自定义设之 -->
		<if
			test="offset != null &amp;&amp; limit != null &amp;&amp; limit!=0">
			limit ${offset},${limit}
		</if>
	</select>

	<select id="selectCountAllComputerRoomByIDs"
		resultType="java.lang.Integer">

		SELECT

		COUNT(id)

		FROM
		t_computer_room

	</select>

	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Sat Apr 17 
			17:50:00 CST 2021. -->
		select
		<include refid="Base_Column_List" />
		from t_computer_room
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Sat Apr 17 
			17:50:00 CST 2021. -->
		delete from t_computer_room
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample"
		parameterType="com.computer.subscribe.pojo.TComputerRoomExample">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Sat Apr 17 
			17:50:00 CST 2021. -->
		delete from t_computer_room
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert"
		parameterType="com.computer.subscribe.pojo.TComputerRoom">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Sat Apr 17 
			17:50:00 CST 2021. -->
		insert into t_computer_room (id, room_num, total_sets,
		available_status, admin_num_operated, operated_time,
		location,
		act_available_quantity)
		values (#{id,jdbcType=INTEGER},
		#{roomNum,jdbcType=INTEGER},
		#{totalSets,jdbcType=INTEGER},
		#{availableStatus,jdbcType=INTEGER},
		#{adminNumOperated,jdbcType=BIGINT},
		#{operatedTime,jdbcType=TIMESTAMP},
		#{location,jdbcType=VARCHAR},
		#{actAvailableQuantity,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective"
		parameterType="com.computer.subscribe.pojo.TComputerRoom">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Sat Apr 17 
			17:50:00 CST 2021. -->
		insert into t_computer_room
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="roomNum != null">
				room_num,
			</if>
			<if test="totalSets != null">
				total_sets,
			</if>
			<if test="availableStatus != null">
				available_status,
			</if>
			<if test="adminNumOperated != null">
				admin_num_operated,
			</if>
			<if test="operatedTime != null">
				operated_time,
			</if>
			<if test="location != null">
				location,
			</if>
			<if test="actAvailableQuantity != null">
				act_available_quantity,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="roomNum != null">
				#{roomNum,jdbcType=INTEGER},
			</if>
			<if test="totalSets != null">
				#{totalSets,jdbcType=INTEGER},
			</if>
			<if test="availableStatus != null">
				#{availableStatus,jdbcType=INTEGER},
			</if>
			<if test="adminNumOperated != null">
				#{adminNumOperated,jdbcType=BIGINT},
			</if>
			<if test="operatedTime != null">
				#{operatedTime,jdbcType=TIMESTAMP},
			</if>
			<if test="location != null">
				#{location,jdbcType=VARCHAR},
			</if>
			<if test="actAvailableQuantity != null">
				#{actAvailableQuantity,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="com.computer.subscribe.pojo.TComputerRoomExample"
		resultType="java.lang.Integer">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Sat Apr 17 
			17:50:00 CST 2021. -->
		select count(*) from t_computer_room
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Sat Apr 17 
			17:50:00 CST 2021. -->
		update t_computer_room
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=INTEGER},
			</if>
			<if test="record.roomNum != null">
				room_num = #{record.roomNum,jdbcType=INTEGER},
			</if>
			<if test="record.totalSets != null">
				total_sets = #{record.totalSets,jdbcType=INTEGER},
			</if>
			<if test="record.availableStatus != null">
				available_status =
				#{record.availableStatus,jdbcType=INTEGER},
			</if>
			<if test="record.adminNumOperated != null">
				admin_num_operated =
				#{record.adminNumOperated,jdbcType=BIGINT},
			</if>
			<if test="record.operatedTime != null">
				operated_time =
				#{record.operatedTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.location != null">
				location = #{record.location,jdbcType=VARCHAR},
			</if>
			<if test="record.actAvailableQuantity != null">
				act_available_quantity =
				#{record.actAvailableQuantity,jdbcType=INTEGER},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. This element was generated on Sat Apr 17 
			17:50:00 CST 2021. -->
		update t_computer_room
		set id = #{record.id,jdbcType=INTEGER},
		room_num
		= #{record.roomNum,jdbcType=INTEGER},
		total_sets =
		#{record.totalSets,jdbcType=INTEGER},
		available_status =
		#{record.availableStatus,jdbcType=INTEGER},
		admin_num_operated =
		#{record.adminNumOperated,jdbcType=BIGINT},
		operated_time =
		#{record.operatedTime,jdbcType=TIMESTAMP},
		location =
		#{record.location,jdbcType=VARCHAR},
		act_available_quantity =
		#{record.actAvailableQuantity,jdbcType=INTEGER}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.computer.subscribe.pojo.TComputerRoom">
		update t_computer_room
		<set>
			<if test="roomNum != null">
				room_num = #{roomNum,jdbcType=INTEGER},
			</if>
			<if test="totalSets != null">
				total_sets = #{totalSets,jdbcType=INTEGER},
			</if>
			<if test="availableStatus != null">
				available_status = #{availableStatus,jdbcType=INTEGER},
			</if>
			<if test="adminNumOperated != null">
				admin_num_operated = #{adminNumOperated,jdbcType=BIGINT},
			</if>
			<if test="operatedTime != null">
				operated_time = #{operatedTime,jdbcType=TIMESTAMP},
			</if>
			<if test="location != null">
				location = #{location,jdbcType=VARCHAR},
			</if>
			<if test="actAvailableQuantity != null">
				act_available_quantity =
				#{actAvailableQuantity,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.computer.subscribe.pojo.TComputerRoom">
		update t_computer_room
		set room_num =
		#{roomNum,jdbcType=INTEGER},
		total_sets =
		#{totalSets,jdbcType=INTEGER},
		available_status =
		#{availableStatus,jdbcType=INTEGER},
		admin_num_operated =
		#{adminNumOperated,jdbcType=BIGINT},
		operated_time =
		#{operatedTime,jdbcType=TIMESTAMP},
		location =
		#{location,jdbcType=VARCHAR},
		act_available_quantity =
		#{actAvailableQuantity,jdbcType=INTEGER}
		where id =
		#{id,jdbcType=INTEGER}
	</update>
</mapper>