<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration
	xmlns:log4j='http://jakarta.apache.org/log4j/'>

	<!-- 下面是打印mybatis语句的配置 -->
	<logger name="com.computer.subscribe.mapper.TSubscribeMapper"
		additivity="true">
		<level value="DEBUG" />
	</logger>
	<logger name="com.ibatis" additivity="true">
		<level value="DEBUG" />
	</logger>
	<logger name="java.sql.Connection" additivity="true">
		<level value="DEBUG" />
	</logger>
	<logger name="java.sql.Statement" additivity="true">
		<level value="DEBUG" />
	</logger>
	<logger name="java.sql.PreparedStatement" additivity="true">
		<level value="DEBUG" />
	</logger>
	<logger name="java.sql.ResultSet" additivity="true">
		<level value="DEBUG" />
	</logger>

	<!-- 控制台日志 -->
	<appender name="consoleAppender"
		class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%n[%p]: [%c] [%M] [%l] [%m] %n" />
		</layout>
	</appender>

	<!-- DEBUG 级别日志 -->
	<appender name="OwnDebugAppender"
		class="org.apache.log4j.DailyRollingFileAppender">
		<!-- 日志输出路径 -->
		<param name="File" value="./logs4j/output-debug.txt" />

		<!-- 每小时生成一个新日志 -->
		<param name="DatePattern" value="'-'yyyy-MM-dd-HH'.txt'" />

		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<!-- 最低级别 -->
			<param name="levelMin" value="DEBUG" />
		</filter>

		<!-- 日志输出格式 -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p]:[%c][%M][%l][%m]%n" />
		</layout>
	</appender>

	<!-- INFO 级别日志 -->
	<appender name="MineInformationAppender"
		class="org.apache.log4j.DailyRollingFileAppender">
		<!-- 日志输出路径 -->
		<param name="File" value="./logs4j/mineINFOR.txt" />

		<!-- 每小时生成一个新日志 -->
		<param name="DatePattern" value="'-'yyyy-MM-dd-HH'.txt'" />

		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<!-- 最低级别 -->
			<param name="levelMin" value="INFO" />
		</filter>

		<!-- 日志输出格式 -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{yyyy-MM-dd HH:mm:ss.SSS}][%p]:[%c][%M][%l][%m]%n" />
		</layout>
	</appender>

	<!--控制台输出sql执行过程 -->
	<appender name="minePrint"
		class="org.apache.log4j.RollingFileAppender">

		<param name="File" value="./logs4j/mine-print.txt" />
		<param name="Append" value="true" />
		<param name="encoding" value="UTF8" />

		<!-- 设置文件大小 -->
		<param name="MaxFileSize" value="3MB" />
		<param name="MaxBackupIndex" value="100" />
		<!-- 每小时生成一个新日志 -->
		<param name="DatePattern" value="'-'yyyyMMddHH'.txt'" />

		<!-- 设置日志输出的样式 -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{dd/MM/yy hh:mm:ss:sss z}] %5p %c{2}: %m%n" />
		</layout>
	</appender>

	<!-- 将日志信息输出到控制台 -->
	<appender name="mineConsole"
		class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{yyyy-MM-dd HH:mm:ss:SSS}][%p]-%m -%l%n" />
		</layout>
		<!--过滤器设置输出的级别 -->
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="levelMin" value="debug" />
			<param name="levelMax" value="info" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<!-- -->
	<appender name="mineFile"
		class="org.apache.log4j.RollingFileAppender">

		<!-- 设置日志输出文件名 -->
		<param name="File" value="./logs4j/mineFile.txt" />

		<!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->
		<param name="Append" value="true" />
		<param name="MaxBackupIndex" value="10" />
		<!-- 设置文件大小 -->
		<param name="MaxFileSize" value="3MB" />
		<!-- 每小时生成一个新日志 -->
		<param name="DatePattern" value="'-'yyyyMMddHH'.txt'" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p (%c:%L)- %m%n" />
		</layout>
	</appender>

	<!-- -->
	<appender name="ERROR_APPENDER"
		class="org.apache.log4j.DailyRollingFileAppender">

		<param name="file" value="./logs4j/CommonError.txt" />
		<param name="append" value="true" />
		<param name="encoding" value="GBK" />

		<!--threshold 注意这里是error 指定日志消息的输出最低层次 -->
		<param name="threshold" value="error" />

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{yyyy-MM-dd HH:mm:ss:SSS}][%p]-%m-%l%n" />
		</layout>
	</appender>

	<!-- -->
	<appender name="mineOut"
		class="org.apache.log4j.RollingFileAppender">

		<!-- 设置File参数：日志输出文件名 -->
		<param name="File" value="./logs4j/mineOut.html" />

		<!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->
		<param name="Append" value="true" />

		<!-- 设置文件大小 -->
		<param name="MaxFileSize" value="4MB" />

		<!-- 设置文件备份 -->
		<param name="MaxBackupIndex" value="10000" />

		<layout class="org.apache.log4j.HTMLLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss,SSS}[%t][%c][%p]-%m%n" />
		</layout>
	</appender>

	<!-- -->
	<!-- new html -->
	<appender name="ourOutPut"
		class="org.apache.log4j.RollingFileAppender">

		<!-- 设置File参数：日志输出文件名 -->
		<param name="File" value="./logs4j/ourOutPut.html" />

		<!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->
		<param name="Append" value="true" />

		<!-- 设置文件大小 -->
		<param name="MaxFileSize" value="4MB" />

		<!-- each day 生成一个新日志 -->
		<param name="DatePattern" value="'-'yyyy-MM-dd'.html'" />

		<!-- 设置文件备份 -->
		<param name="MaxBackupIndex" value="10000" />

		<layout class="org.apache.log4j.HTMLLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MM-dd HH:mm:ss,SSS}[%t][%c][%p]-%m%n" />
		</layout>
	</appender>

	<!-- -->
	<!-- 根logger的设置,定义全局的日志输出级别,但是在输出目的地的配置中配置的具体输出级别优先级高于全局定义的优先级。 如果在railyFile中定义<param 
		name="Threshold" value="info" />，那么将会把info以上级别的信息输出 -->
	<root>
		<priority value="debug" />
		<appender-ref ref="ourOutPut" />
		<appender-ref ref="OwnDebugAppender" />
		<appender-ref ref="MineInformationAppender" />
		<appender-ref ref="consoleAppender" />
		<appender-ref ref="mineConsole" />
		<appender-ref ref="mineFile" />
		<appender-ref ref="mineOut" />
		<appender-ref ref="minePrint" />
	</root>
</log4j:configuration>